html{
    width: 1000px;
    font-size: 15px;
}

.column{
    display: flex;
    background-color:#87ceeb;
    text-align: center;
}

.info{
    display: flex;

}

.id{
    width: 80px;
    margin: 5px;
}

.title{
    width: 200px;
    margin: 5px;
    
}

.category{
    width: 100px;
    margin: 5px;
}

.comment{
    width: 300px;
    margin: 5px;
}

.created{
    width: 200px;
    margin: 5px;
}